<section class="author">
  <div class="authorimage box" style="background: url({{site.baseurl}}/assets/me3.jpeg)"></div>
  <div class="authorinfo box">
    <p>Author | Sihyung Park</p>
    <p class="bio">
      I am Sihyung Park (pronounced “See-He-Young”), a Ph.D. candidate in the Department of Statistics at North Carolina State University. My research focuses on causal inference, specifically addressing unmeasured confounding and principal stratification in observational studies, as well as high-dimensional methods. Grounded in my early background in ecology and genomics, I aim to bring methodological insights to problems in genomics and evolutionary biology.
    </p>
  </div>
  <div style="line-height:100%;">
    <br>
  </div>
</section>
