{% if paginator.total_pages > 1 %}
  <div class='pagination'>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
        &laquo; Prev
      </a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ '/' | relative_url }}">
          <span style="font-size: 10pt">
            {{ page }}
          </span>
        </a>
      {% else %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
          <span style="font-size: 10pt">
            {{ page }}
          </span>
        </a>
      {% endif %}
    {% endfor %}


    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
        Next &raquo;
      </a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>

<style lang="scss">
  .pagination {
    margin: auto;
    text-align: center;
    display: block;
    padding: 5px 0 25px 0;
    color: #999;
  }
  span.pagination-selected {
    display: inline-block;
  }
</style>
