/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
- Styled
- Framse
*/

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

.box {
  box-sizing: border-box;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position:relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 10px;
  box-sizing: border-box;
  /* for test only */
  border: 1px dashed #eeeeee;

}
.column,
.columns {
  width: 100%;
  float: right;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 401px) {
  .container {
    width: 100%;
    padding: 64px 32px; }
}

/* For devices larger than 780px */
@media (min-width: 781px) {
  .container {
    width: 90%; }
  .column,
  .columns {
    margin-right: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-right: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-right: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-right: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-right: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-right: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-right: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-right: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-right: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-right: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-right: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-right: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-right: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-right: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-right: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-right: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-right: 52%; }

}


/* Base Styles
–––––––––––––
––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  /* font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif; */
  /* font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 400; }
h1 { font-size: 2.2rem; line-height: 1.2;  letter-spacing: 0rem;}
h2 { font-size: 2.0rem; line-height: 1.25; letter-spacing: 0rem; }
h3 { font-size: 1.7rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.5rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.3rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.1rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 2.4rem; }
  h2 { font-size: 2.2rem; }
  h3 { font-size: 2.0rem; }
  h4 { font-size: 1.7rem; }
  h5 { font-size: 1.4rem; }
  h6 { font-size: 1.1rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #222;
  text-decoration: none;
  //background-color: transparent;
  -webkit-transition: color .4s;
  transition: color .4s;
  //border-bottom: 1px dotted red;
}
a:hover {
  color: red;
  //text-decoration: underline;
}



// TODO


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #c04848;
  border-color: #c04848; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #c04848;
  border-color: #c04848; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #c04848;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
––––––––––––––––––––––––––––––––––––––––––––––––––
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }

*/


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 85%;
  white-space: nowrap;
  background: #fafafa;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.3rem;
  background: #fafafa;
  white-space: pre-wrap; }
tagging {
  padding: .2rem .5rem;
  margin: -1.5 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #ffffff;
  border: 1px solid #E1E1E1;
  border-radius: 10px;
  vertical-align: text-bottom;
}


/* Tables –––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
––––––––––––––––––––––––––––––––––––––––––––––––––
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol
form {
  margin-bottom: 1.25rem; }

 */


p {
  margin-bottom: 1.25rem;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img {
    max-width: 100%;
    vertical-align: middle;
}

/* blockquote */

blockquote {
  margin: 1.5rem 0;
  padding: 0 0 0 10px;
  font-style: normal;
  font-size: 100%;
  line-height: 1.8rem;
  border-left: 3px solid #D0E5F2;
  font-size: 1.3rem;
}


/* tag */
.highlighter-tag {
  color: #e28585;
  background-color: rgb(255, 255, 255);
  font-size: 0.7em;
}


/* theorem */
body {
  counter-reset: theorem;
  counter-reset: definition;
  counter-reset: fact;
  counter-reset: remark;
  counter-reset: example;
  //counter-reset: proposition;
  //counter-reset: lemma;
  //counter-reset: corollary;
}

.theorem {
  display: block;
  margin: 2px;
  font-style: italic;
  border-style: none none none solid;
  border-width: 2px;
  border-color: #a0a0a0;
  padding: 5px 8px;
  counter-increment: theorem
}
.theorem:before {
  content: "Theorem " counter(theorem) ". ";
  font-weight: bold;
  font-style: normal;
}
.theorem[text]:before {
  content: "Theorem " counter(theorem) " (" attr(text) ")\A";
  white-space: pre;
}

.corollary {
  display: block;
  font-style: italic;
  margin: 2px;
  border-style: none none none solid;
  border-width: 2px;
  border-color: #e9e9e9;
  padding: 5px 8px;
  counter-increment: theorem//corollary
}
.corollary:before {
  content: "Corollary " counter(theorem) ". ";
  font-weight: bold;
  font-style: normal;
}
.corollary[text]:before {
  content: "Corollary " counter(theorem) " (" attr(text) ")\A";
  white-space: pre;
}

.fact {
  display: block;
  margin: 12px 0;
  font-style: italic;
  counter-increment: fact
}
.fact:before {
  content: "Fact " counter(fact) ".\A";
  font-weight: bold;
  font-style: normal;
  white-space: pre;
}
.fact[text]:before {
  content: "Fact " counter(fact) " (" attr(text) ")\A";
  white-space: pre;
}

.remark {
  display: block;
  margin: 12px 0;
  font-style: italic;
  counter-increment: remark
}
.remark:before {
  content: "Remark " counter(remark) ". ";
  font-weight: bold;
  font-style: normal;
}
.remark[text]:before {
  content: "Remark " counter(remark) " (" attr(text) ")\A";
  white-space: pre;
}

.prop {
  display: block;
  font-style: italic;
  margin: 2px;
  border-style: none none none solid;
  border-width: 2px;
  border-color: #e9e9e9;
  padding: 5px 8px;
  counter-increment: theorem//prop
}
.prop:before {
  content: "Proposition " counter(theorem) ". ";
  font-weight: bold;
  font-style: normal;
}
.prop[text]:before {
  content: "Proposition " counter(theorem) " (" attr(text) ")\A";
  white-space: pre;
}

.example {
  display: block;
  margin: 12px 0;
  font-style: italic;
  counter-increment: example
}
.example:before {
  content: "Example " counter(example) ". ";
  font-weight: bold;
  font-style: normal;
}
.example[text]:before {
  content: "Example " counter(example) " (" attr(text) ")\A";
  white-space: pre;
}

.lemma {
  display: block;
  font-style: italic;
  margin: 2px;
  border-style: none none none solid;
  border-width: 2px;
  border-color: #e9e9e9;
  padding: 5px 8px;
  counter-increment: theorem//lemma
}
.lemma:before {
  content: "Lemma " counter(theorem) ". ";
  font-weight: bold;
  font-style: normal;
}
.lemma[text]:before {
  content: "Lemma " counter(theorem) " (" attr(text) ")\A";
  white-space: pre;
}
.proof {
  display: block;
  margin: 12px 8px;
  font-style: normal;
  color: #6F6F6F;
}
.proof:before {
  content: "(Proof) ";
  font-style: italic;
}
.proof[text]:before {
  content: "(Proof of "attr(text)")\A";
  white-space: pre;
}
.proof:after {
  content: " \25A1";
  float: none;
}
.definition {
  display: block;
  margin: 2px;
  font-style: normal;
  border-style: none none none solid;
  border-width: 1px;
  border-color: #e9e9e9;
  padding: 5px 8px;
  counter-increment: definition
}
.definition[text]:before {
  content: "Definition " " (" attr(text) ")\A";
  font-weight: bold;
  font-style: normal;
}
.definition:before {
  content: "Definition ";
  font-weight: bold;
  font-style: normal;
}


/*  styling expandables  */
summary{
    outline: none;
    color: #6F6F6F;
    cursor: pointer;
    margin-bottom: 10px;
}

.footnotes{
  font-size: 0.8em;
  color: #555;
}

// summary::-webkit-details-marker {
//   //display: none
// }
//
// summary:after {
//   //background: url(some-picture);
//   //float: left;
//   //height: 20px;
//   //width: 20px;
//   content: "";
// }
//
// details[open] summary:after {
//   //background: url(other-picture);
// }



/* 7.1. Subscribe Form
/* ---------------------------------------------------------- */
.subscribe-form {
  margin: 1.5em 0;
  padding: 6.5vw 7vw 7vw;
  text-align: center;

  border-radius: 7px;
}

.subscribe-form-title {
  margin: 0 0 3px 0;
  padding: 0;
  color: var(--darkgrey);
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 700;
}

.subscribe-form p {
  margin-bottom: 1em;
  color: var(--midgrey);
  font-size: 2.2rem;
  line-height: 1.55em;
  letter-spacing: 0.2px;
}

.subscribe-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 420px;
}

.subscribe-form .form-group {
  flex-grow: 1;
}

.subscribe-email {
  display: block;
  padding: 10px;
  width: 100%;

  color: #c04848;
  font-size: 1.8rem;
  line-height: 1em;
  font-weight: normal;
  user-select: text;
  border-radius: 5px;
  transition: border-color 0.15s linear;

  -webkit-appearance: none;
}

.subscribe-email:focus {
  outline: 0;
}

.subscribe-form button {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0 20px;
  height: 41px;
  outline: none;
  color: #fff;
  border-color: #c04848;
  font-size: 1.5rem;
  line-height: 37px;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
  background: #e28585;
  border-radius: 5px;
  box-shadow: 0 0 0 1px inset rgba(0,0,0,0.14);

  -webkit-font-smoothing: subpixel-antialiased;
}

.subscribe-form button:active,
.subscribe-form button:focus {
  background: #555;
  border-color: #c04848;
}

@media (max-width: 650px) {
  .subscribe-form-title {
      font-size: 2.4rem;
  }
  .subscribe-form p {
      font-size: 1.6rem;
  }
}

@media (max-width: 500px) {
  .subscribe-form form {
      flex-direction: column;
  }
  .subscribe-form .form-group {
      width: 100%;
  }
  .subscribe-form button {
      margin: 10px 0 0 0;
      width: 100%;
  }
}

/* 10. Subscribe Overlay
/* ---------------------------------------------------------- */

.subscribe-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(247, 247, 247, 0.6);
  opacity: 0;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  backdrop-filter: blur(5px);
}

.subscribe-overlay:target {
  opacity: 1;
  pointer-events: auto;
}

.subscribe-overlay-content {
  position: relative;
  z-index: 9999;
  margin: 0 0 5vw 0;
  padding: 4vw;
  color: rgb(0, 0, 0);
  text-align: center;
}

.subscribe-overlay-logo {
  position: fixed;
  top: 23px;
  left: 30px;
  height: 30px;
}

.subscribe-overlay-title {
  display: inline-block;
  margin: 0 0 10px 0;
  font-family: "JuliaMono";
  font-size: 3.2rem;
  line-height: 1.15em;
}

.subscribe-overlay-description {
  margin: 0 auto 50px;
  max-width: 650px;
  font-family: "JuliaMono";
  font-size: 3rem;
  line-height: 1.3em;
  font-weight: 300;
  opacity: 0.8;
}

.subscribe-overlay form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
}

.subscribe-overlay .form-group {
  flex-grow: 1;
}

.subscribe-overlay .subscribe-email {
  display: block;
  padding: 14px 20px;
  width: 100%;
  border: none;
  color: #c04848;
  font-size: 1.5rem;
  line-height: 1em;
  font-weight: normal;
  letter-spacing: 0.5px;
  user-select: text;
  border-radius: 9px;
  transition: #c04848 0.15s linear;

  -webkit-appearance: none;
}

.subscribe-email:focus {
  border-color: #e28585;
}

.subscribe-overlay button {
  display: inline-block;
  margin: 0 0 0 15px;
  padding: 0 25px;
  height: 52px;
  outline: none;
  color: #fff;
  font-size: 1.7rem;
  line-height: 37px;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
  background: #e28585;
  border-radius: 8px;
  box-shadow: 0 0 0 1px inset rgba(0,0,0,0.14);

  -webkit-font-smoothing: subpixel-antialiased;
}

.subscribe-overlay button:active,
.subscribe-overlay button:focus {
  background: #333;
}

.subscribe-overlay-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.subscribe-overlay-close:before {
  content: "";
  position: absolute;
  top: 40px;
  right: 25px;
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  opacity: 0.8;
  transform: rotate(45deg);
}

.subscribe-overlay-close:after {
  content: "";
  position: absolute;
  top: 40px;
  right: 25px;
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  opacity: 0.8;
  transform: rotate(-45deg);
}

.subscribe-overlay-close:hover {
  cursor: default;
}

.search-highlight {
  background-color: yellow;
}