<div id="related" class="clearfix">
  
   <h3>You might also like..</h3>
  <ul>
    <li><a href="/probability/high-dimensional-box">"High-dimensional box"</a></li>
    <li><a href="/probability/PTE-1.4-Lebesgue-integral">(PTE) 1.4. The Lebesgue integral</a></li>
    <li><a href="/probability/PTE-3.2.2-vague-convergence">(PTE) 3.2.2. Vague convergence and uniform tightness</a></li>
    <li><a href="/natural%20language%20processing/LDA-1-background-topic-modelling">Understanding Latent Dirichlet Allocation (1) Backgrounds</a></li>
    <li><a href="/bayesian/machine%20learning/natural%20language%20processing/LDA-4-Gibbs-Sampling">Understanding Latent Dirichlet Allocation (4) Gibbs Sampling</a></li>
  </ul>
</div>