<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/machine%20learning/neural-net-1-linear">인공신경망 이해하기 (1) 선형 분류기</a></li>
    <li><a href="/linear%20model/limitation-of-R-sq">"Limitation of $R^2$"</a></li>
    <li><a href="/probability/PTE-2.4-strong-law-of-large-numbers">(PTE) 2.4. Strong law of large numbers</a></li>
    <li><a href="/probability/PTE-3.4-central-limit-theorem">(PTE) 3.4. Central limit theorem</a></li>
    <li><a href="/non-parametric/Nonparametric-2-Univariate-Kernel-Density-Estimation">[Nonparametric] 2. Univariate Kernel Density Estimation</a></li>
  </ul>
</div>