<div id="related" class="clearfix">
  
   <h3>Related Posts</h3>
  <ul>
    <li><a href="/machine%20learning/%EC%9D%B8%EA%B3%B5%EC%8B%A0%EA%B2%BD%EB%A7%9D-%EC%9D%B4%ED%95%B4%ED%95%98%EA%B8%B0-1-%EC%84%A0%ED%98%95-%EB%B6%84%EB%A5%98%EA%B8%B0">인공신경망 이해하기 (1) 선형 분류기</a></li>
    <li><a href="/machine%20learning/%EC%9D%B8%EA%B3%B5%EC%8B%A0%EA%B2%BD%EB%A7%9D-%EC%9D%B4%ED%95%B4%ED%95%98%EA%B8%B0-2-%ED%8D%BC%EC%85%89%ED%8A%B8%EB%A1%A0%EA%B3%BC-%EC%8B%A0%EA%B2%BD%EB%A7%9D">인공신경망 이해하기 (2) 퍼셉트론과 신경망</a></li>
    <li><a href="/machine%20learning/%EC%9D%B8%EA%B3%B5%EC%8B%A0%EA%B2%BD%EB%A7%9D-%EC%9D%B4%ED%95%B4%ED%95%98%EA%B8%B0-3-%ED%95%99%EC%8A%B5-%EA%B3%BC%EC%A0%95-%EA%B0%9C%EC%9A%94">인공신경망 이해하기 (3) 학습 과정 - 개요</a></li>
    <li><a href="/applied/sequence-motif%EB%8A%94-%EC%96%BC%EB%A7%88%EB%82%98-%EC%9E%90%EC%A3%BC-%EB%93%B1%EC%9E%A5%ED%95%A0%EA%B9%8C">$k$-mer Sequence Motif는 얼마나 자주 등장할까</a></li>
    <li><a href="/machine%20learning/convnet-%EC%9D%B4%ED%95%B4%ED%95%98%EA%B8%B0">Convolutional Neural Network (CNN) 이해하기</a></li>
  </ul>
</div>