<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/machine%20learning/convnet">Convolutional Neural Network (CNN) 이해하기</a></li>
    <li><a href="/machine%20learning/neural-net-2-perceptron-neuralnet">인공신경망 이해하기 (2) 퍼셉트론과 신경망</a></li>
    <li><a href="/machine%20learning/neural-net-3-training-intro">인공신경망 이해하기 (3) 학습 과정 - 개요</a></li>
    <li><a href="/applied/2017-south-korean-presidential-election">2017 대선 후보 지지층 군집분석</a></li>
    <li><a href="/machine%20learning/neural-net-4-training-detail">인공신경망 이해하기 (4) 학습 과정 - 디테일</a></li>
  </ul>
</div>