<div id="related" class="clearfix">
  
   <h3>Related Posts</h3>
  <ul>
    <li><a href="/machine%20learning/convnet-%EC%9D%B4%ED%95%B4%ED%95%98%EA%B8%B0">Convolutional Neural Network (CNN) 이해하기</a></li>
    <li><a href="/machine%20learning/%EC%9D%B8%EA%B3%B5%EC%8B%A0%EA%B2%BD%EB%A7%9D-%EC%9D%B4%ED%95%B4%ED%95%98%EA%B8%B0-2-%ED%8D%BC%EC%85%89%ED%8A%B8%EB%A1%A0%EA%B3%BC-%EC%8B%A0%EA%B2%BD%EB%A7%9D">인공신경망 이해하기 (2) 퍼셉트론과 신경망</a></li>
    <li><a href="/machine%20learning/%EC%9D%B8%EA%B3%B5%EC%8B%A0%EA%B2%BD%EB%A7%9D-%EC%9D%B4%ED%95%B4%ED%95%98%EA%B8%B0-3-%ED%95%99%EC%8A%B5-%EA%B3%BC%EC%A0%95-%EA%B0%9C%EC%9A%94">인공신경망 이해하기 (3) 학습 과정 - 개요</a></li>
    <li><a href="/applied/2017-%EB%8C%80%EC%84%A0-%ED%9B%84%EB%B3%B4-%EC%A7%80%EC%A7%80%EC%B8%B5-%EA%B5%B0%EC%A7%91%EB%B6%84%EC%84%9D">2017 대선 후보 지지층 군집분석</a></li>
    <li><a href="/machine%20learning/%EC%9D%B8%EA%B3%B5%EC%8B%A0%EA%B2%BD%EB%A7%9D-%EC%9D%B4%ED%95%B4%ED%95%98%EA%B8%B0-4-%ED%95%99%EC%8A%B5-%EA%B3%BC%EC%A0%95-%EB%94%94%ED%85%8C%EC%9D%BC">인공신경망 이해하기 (4) 학습 과정 - 디테일</a></li>
  </ul>
</div>