<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2018/04/17/neural-net-1-linear">인공신경망 이해하기 (1) 선형 분류기</a></li>
    <li><a href="/2020/12/21/PTE-2.4-strong-law-of-large-numbers">2.4. Strong law of large numbers</a></li>
    <li><a href="/2021/03/16/Statistical-Learning-2-Linear-classifiers">2. Linear classifiers</a></li>
    <li><a href="/2021/03/13/Nonparametric-2-Univariate-Kernel-Density-Estimation">2. Univariate Kernel Density Estimation</a></li>
    <li><a href="/2020/04/28/limitation-of-R-sq">"Limitation of $R^2$"</a></li>
  </ul>
</div>