<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2017/04/28 12:00:00 +0900/2017-04-28-2017-south-korean-presidential-election.html">2017 대선 후보 지지층 군집분석</a></li>
    <li><a href="/2017/12/29 12:00:00 +0900/2017-12-29-EFA-smartphone-camera.html">요인분석으로 내게 맞는 스마트폰 카메라 찾기</a></li>
    <li><a href="/2018/04/17 12:00:00 +0900/2018-04-17-neural-net-2-perceptron-neuralnet.html">인공신경망 이해하기 (2) 퍼셉트론과 신경망</a></li>
    <li><a href="/2018/04/17 12:00:00 +0900/2018-04-17-neural-net-1-linear.html">인공신경망 이해하기 (1) 선형 분류기</a></li>
    <li><a href="/2018/04/19 12:00:00 +0900/2018-04-19-neural-net-3-training-intro.html">인공신경망 이해하기 (3) 학습 과정 - 개요</a></li>
  </ul>
</div>