<div id="related" class="clearfix">
  
   <h3>Related Posts</h3>
  <ul>
    <li><a href="/machine%20learning/natural%20language%20processing/understanding-skip-gram">Understanding Skip Gram</a></li>
    <li><a href="/probability/PTE-3.2.2-vague-convergence">(PTE) 3.2.2. Vague convergence and uniform tightness</a></li>
    <li><a href="/natural%20language%20processing/LDA-1-background-topic-modelling">Understanding Latent Dirichlet Allocation (1) Backgrounds</a></li>
    <li><a href="/probability/PTE-1.2-Distributions">(PTE) 1.2. Distributions</a></li>
    <li><a href="/probability/PTE-1.1-Measure-theory">(PTE) 1.1. Basics on measure theory</a></li>
  </ul>
</div>