<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/probability/PTE-2.2-Weak-laws-of-large-numbers">(PTE) 2.2. Weak laws of large numbers</a></li>
    <li><a href="/probability/PTE-2.3-B-C-lemmas">(PTE) 2.3. Borel-Cantelli lemmas</a></li>
    <li><a href="/probability/PTE-2.4-strong-law-of-large-numbers">(PTE) 2.4. Strong law of large numbers</a></li>
    <li><a href="/probability/PTE-3.6-poisson-convergence">(PTE) 3.6. Poisson convergence</a></li>
    <li><a href="/non-parametric/Nonparametric-2-Univariate-Kernel-Density-Estimation">[Nonparametric] 2. Univariate Kernel Density Estimation</a></li>
  </ul>
</div>