<div id="related" class="clearfix">
  
   <h3>You might also like..</h3>
  <ul>
    <li><a href="/probability/PTE-2.2-Weak-laws-of-large-numbers">(PTE) 2.2. Weak laws of large numbers</a></li>
    <li><a href="/probability/PTE-2.3-B-C-lemmas">(PTE) 2.3. Borel-Cantelli lemmas</a></li>
    <li><a href="/probability/PTE-4.3-application-of-martingales">(PTE) 4.3. Application of martingales</a></li>
    <li><a href="/bayesian/machine%20learning/natural%20language%20processing/LDA-3-Variational-EM">Understanding Latent Dirichlet Allocation (3) Variational EM</a></li>
    <li><a href="/bayesian/machine%20learning/natural%20language%20processing/LDA-4-Gibbs-Sampling">Understanding Latent Dirichlet Allocation (4) Gibbs Sampling</a></li>
  </ul>
</div>