<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/probability/durrett/PTE-4.8-optional-stopping">4.8. Optional stopping theorem</a></li>
    <li><a href="/probability/durrett/PTE-4.1-conditional-expectation">4.1. Conditional expectation</a></li>
    <li><a href="/adaptive%20sequential%20decision%20making/Bandit-2-Explore-Then-Commit-algorithm">2. Explore-Then-Commit algorithm</a></li>
    <li><a href="/probability/durrett/PTE-4.6.1-Uniform-integrability-and-convergence-in-L1">4.6.1. Uniform integrability and convergence in $L^1$</a></li>
    <li><a href="/probability/durrett/PTE-4.2-martingales">4.2. Martingales and a.s. convergence</a></li>
  </ul>
</div>