<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/probability/PTE-2.5-convergence-of-random-series">(PTE) 2.5. Convergence of random series</a></li>
    <li><a href="/probability/PTE-2.3-B-C-lemmas">(PTE) 2.3. Borel-Cantelli lemmas</a></li>
    <li><a href="/linear%20model/limitation-of-R-sq">"Limitation of $R^2$"</a></li>
    <li><a href="/probability/determination-of-random-variables-and-random-number-generation">"Determination of random variables and random number generation"</a></li>
    <li><a href="/probability/PTE-2.4-strong-law-of-large-numbers">(PTE) 2.4. Strong law of large numbers</a></li>
  </ul>
</div>