<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/bayesian/machine%20learning/natural%20language%20processing/LDA-2-The-Model">Understanding Latent Dirichlet Allocation (2) The Model</a></li>
    <li><a href="/bayesian/machine%20learning/natural%20language%20processing/LDA-3-Variational-EM">Understanding Latent Dirichlet Allocation (3) Variational EM</a></li>
    <li><a href="/statistical%20learning/Statistical-Learning-3-Shrinkage-Estimators">3. Shrinkage Estimators</a></li>
    <li><a href="/nonparametric/nonparametric-1-Brief-Introduction-to-Nonparametric-function-estimation">1. Brief Introduction to Nonparametric function estimation</a></li>
    <li><a href="/statistical%20learning/Statistical-Learning-1-Overview-of-Supervised-Learning">1. Overview of Supervised Learning</a></li>
  </ul>
</div>