<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2020/12/23 21:23:00 +0900/2020-12-23-PTE 3.html">3.10. Limit theorems in ℝᵈ</a></li>
    <li><a href="/2021/03/03/Statistical-Learning-1-Overview-of-Supervised-Learning">1. Overview of Supervised Learning</a></li>
    <li><a href="/2021/03/17/Statistical-Learning-3-Shrinkage-Estimators">3. Shrinkage Estimators</a></li>
    <li><a href="/2021/02/16/LDA-4-Gibbs-Sampling">Understanding Latent Dirichlet Allocation (4) Gibbs Sampling</a></li>
    <li><a href="/2021/02/15/LDA-3-Variational-EM">Understanding Latent Dirichlet Allocation (3) Variational EM</a></li>
  </ul>
</div>