<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2020/12/23 21:23:00 +0900/2020-12-23-PTE 3.html">3.10. Limit theorems in ℝᵈ</a></li>
    <li><a href="/2021/03/03 00:13:00 +0900/2021-03-02-Statistical-Learning-1-Overview-of-Supervised-Learning.html">1. Overview of Supervised Learning</a></li>
    <li><a href="/2021/03/17 16:40:00 +0900/2021-03-17-Statistical-Learning-3-Shrinkage-Estimators.html">3. Shrinkage Estimators</a></li>
    <li><a href="/2021/02/16 18:40:00 +0900/2021-02-15-LDA-4-Gibbs-Sampling.html">Understanding Latent Dirichlet Allocation (4) Gibbs Sampling</a></li>
    <li><a href="/2021/02/15 02:26:00 +0900/2021-02-15-LDA-3-Variational-EM.html">Understanding Latent Dirichlet Allocation (3) Variational EM</a></li>
  </ul>
</div>