<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2021/03/03/Statistical-Learning-1-Overview-of-Supervised-Learning">1. Overview of Supervised Learning</a></li>
    <li><a href="/2021/03/16/Statistical-Learning-2-Linear-classifiers">2. Linear classifiers</a></li>
    <li><a href="/2021/02/15/LDA-3-Variational-EM">Understanding Latent Dirichlet Allocation (3) Variational EM</a></li>
    <li><a href="/2021/02/16/LDA-4-Gibbs-Sampling">Understanding Latent Dirichlet Allocation (4) Gibbs Sampling</a></li>
    <li><a href="/2021/03/03/nonparametric-1-Brief-Introduction-to-Nonparametric-function-estimation">1. Brief Introduction to Nonparametric function estimation</a></li>
  </ul>
</div>