<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/probability/durrett/PTE-1.1-Measure-theory">1.1. Basics on measure theory</a></li>
    <li><a href="/empirical%20process/asymptotics/empirical%20processes%20in%20m-estimation/2-2-Entropy">2.2. Entropy</a></li>
    <li><a href="/nonparametric/kernel/Nonparametric-4-Multivariate-Kernel-Density-Estimation">4. Multivariate Kernel Density Estimation</a></li>
    <li><a href="/probability/durrett/PTE-2.1-independence">2.1. Independence</a></li>
    <li><a href="/nonparametric/spline/kernel/nonparametric-1-Brief-Introduction-to-Nonparametric-function-estimation">1. Brief Introduction to Nonparametric function estimation</a></li>
  </ul>
</div>