<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2021/02/15/LDA-3-Variational-EM">Understanding Latent Dirichlet Allocation (3) Variational EM</a></li>
    <li><a href="/2021/02/16/LDA-4-Gibbs-Sampling">Understanding Latent Dirichlet Allocation (4) Gibbs Sampling</a></li>
    <li><a href="/2021/02/08/understanding-skip-gram">Understanding Skip Gram</a></li>
    <li><a href="/2021/03/17/Statistical-Learning-3-Shrinkage-Estimators">3. Shrinkage Estimators</a></li>
    <li><a href="/2021/03/19/Nonparametric-4-Multivariate-Kernel-Density-Estimation">4. Multivariate Kernel Density Estimation</a></li>
  </ul>
</div>