<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2021/02/15 02:26:00 +0900/2021-02-15-LDA-3-Variational-EM.html">Understanding Latent Dirichlet Allocation (3) Variational EM</a></li>
    <li><a href="/2021/02/16 18:40:00 +0900/2021-02-15-LDA-4-Gibbs-Sampling.html">Understanding Latent Dirichlet Allocation (4) Gibbs Sampling</a></li>
    <li><a href="/2021/02/08 01:08:00 +0900/2021-02-07-understanding skip gram.html">Understanding Skip Gram</a></li>
    <li><a href="/2021/03/17 16:40:00 +0900/2021-03-17-Statistical-Learning-3-Shrinkage-Estimators.html">3. Shrinkage Estimators</a></li>
    <li><a href="/2021/07/12/The-Shannon-Entropy">The Shannon Entropy</a></li>
  </ul>
</div>