<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/statistical%20learning/Statistical-Learning-3-Shrinkage-Estimators">3. Shrinkage Estimators</a></li>
    <li><a href="/statistical%20learning/Statistical-Learning-1-Overview-of-Supervised-Learning">1. Overview of Supervised Learning</a></li>
    <li><a href="/nonparametric/Nonparametric-4-Multivariate-Kernel-Density-Estimation">4. Multivariate Kernel Density Estimation</a></li>
    <li><a href="/2020/05/29 22:41:00 +0900/.html">"Centering preserves regression coefficients"</a></li>
    <li><a href="/nonparametric/nonparametric-1-Brief-Introduction-to-Nonparametric-function-estimation">1. Brief Introduction to Nonparametric function estimation</a></li>
  </ul>
</div>