<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/nonparametric/kernel/Nonparametric-2-Univariate-Kernel-Density-Estimation">2. Univariate Kernel Density Estimation</a></li>
    <li><a href="/nonparametric/kernel/Nonparametric-4-Multivariate-Kernel-Density-Estimation">4. Multivariate Kernel Density Estimation</a></li>
    <li><a href="/probability/durrett/PTE-3.4-central-limit-theorem">3.4. Central limit theorem</a></li>
    <li><a href="/adaptive%20sequential%20decision%20making/bandit/Bandit-2-Explore-Then-Commit-algorithm">2. Explore-Then-Commit algorithm</a></li>
    <li><a href="/probability/durrett/PTE-3.3-characteristic-functions">3.3. Characteristic functions</a></li>
  </ul>
</div>