<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/probability/durrett/PTE-1.1-Measure-theory">1.1. Basics on measure theory</a></li>
    <li><a href="/nonparametric/kernel/Nonparametric-4-Multivariate-Kernel-Density-Estimation">4. Multivariate Kernel Density Estimation</a></li>
    <li><a href="/nonparametric/spline/kernel/nonparametric-1-Brief-Introduction-to-Nonparametric-function-estimation">1. Brief Introduction to Nonparametric function estimation</a></li>
    <li><a href="/adaptive%20sequential%20decision%20making/bandit/Bandit-2-Explore-Then-Commit-algorithm">2. Explore-Then-Commit algorithm</a></li>
    <li><a href="/probability/durrett/PTE-2.1-independence">2.1. Independence</a></li>
  </ul>
</div>