<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2021/02/16 18:40:00 +0900/2021-02-15-LDA-4-Gibbs-Sampling.html">Understanding Latent Dirichlet Allocation (4) Gibbs Sampling</a></li>
    <li><a href="/2021/02/15 02:26:00 +0900/2021-02-15-LDA-3-Variational-EM.html">Understanding Latent Dirichlet Allocation (3) Variational EM</a></li>
    <li><a href="/2021/02/14 14:14:00 +0900/2021-02-14-LDA-1-background-topic-modelling.html">Understanding Latent Dirichlet Allocation (1) Backgrounds</a></li>
    <li><a href="/2021/07/13/Understanding-Restricted-Boltzmann-Machine">Understanding Restricted Boltzmann Machine</a></li>
    <li><a href="/2021/07/02 12:13:00 +0900/2021-07-02-2-1-Empirical-Process.html">2.1. Empirical Process</a></li>
  </ul>
</div>