<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2021/03/03 14:59:00 +0900/2021-03-03-nonparametric-1-Brief-Introduction-to-Nonparametric-function-estimation.html">1. Brief Introduction to Nonparametric function estimation</a></li>
    <li><a href="/2021/02/14 21:49:00 +0900/2021-02-14-LDA-2-The-Model.html">Understanding Latent Dirichlet Allocation (2) The Model</a></li>
    <li><a href="/2021/02/08 01:08:00 +0900/2021-02-07-understanding skip gram.html">Understanding Skip Gram</a></li>
    <li><a href="/2021/02/04 20:43:00 +0900/2021-02-04-Understanding Neural Probabilistic Language Model.html">Understanding Neural Probabilistic Language Model</a></li>
    <li><a href="/2021/07/13/Mutual-information-and-Channel-Capacity">Mutual information and Channel Capacity</a></li>
  </ul>
</div>