<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2021/03/03 00:13:00 +0900/2021-03-02-Statistical-Learning-1-Overview-of-Supervised-Learning.html">1. Overview of Supervised Learning</a></li>
    <li><a href="/2021/03/16 00:44:00 +0900/2021-03-16-Statistical-Learning-2-Linear-classifiers.html">2. Linear classifiers</a></li>
    <li><a href="/2021/02/15 02:26:00 +0900/2021-02-15-LDA-3-Variational-EM.html">Understanding Latent Dirichlet Allocation (3) Variational EM</a></li>
    <li><a href="/2021/02/16 18:40:00 +0900/2021-02-15-LDA-4-Gibbs-Sampling.html">Understanding Latent Dirichlet Allocation (4) Gibbs Sampling</a></li>
    <li><a href="/2021/03/03 14:59:00 +0900/2021-03-03-nonparametric-1-Brief-Introduction-to-Nonparametric-function-estimation.html">1. Brief Introduction to Nonparametric function estimation</a></li>
  </ul>
</div>