<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2021/02/16/LDA-4-Gibbs-Sampling">Understanding Latent Dirichlet Allocation (4) Gibbs Sampling</a></li>
    <li><a href="/2021/02/14/LDA-2-The-Model">Understanding Latent Dirichlet Allocation (2) The Model</a></li>
    <li><a href="/2021/03/17/Statistical-Learning-3-Shrinkage-Estimators">3. Shrinkage Estimators</a></li>
    <li><a href="/2021/03/03/nonparametric-1-Brief-Introduction-to-Nonparametric-function-estimation">1. Brief Introduction to Nonparametric function estimation</a></li>
    <li><a href="/2021/03/03/Statistical-Learning-1-Overview-of-Supervised-Learning">1. Overview of Supervised Learning</a></li>
  </ul>
</div>