<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2021/03/03/nonparametric-1-Brief-Introduction-to-Nonparametric-function-estimation">1. Brief Introduction to Nonparametric function estimation</a></li>
    <li><a href="/2021/02/14/LDA-2-The-Model">Understanding Latent Dirichlet Allocation (2) The Model</a></li>
    <li><a href="/2021/02/07/understanding-skip-gram">Understanding Skip Gram</a></li>
    <li><a href="/2021/02/04/Understanding-Neural-Probabilistic-Language-Model">Understanding Neural Probabilistic Language Model</a></li>
    <li><a href="/2021/02/08/Understanding-FastText">Understanding FastText</a></li>
  </ul>
</div>