<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2020/05/29 22:41:00 +0900/.html">"Centering preserves regression coefficients"</a></li>
    <li><a href="/statistical%20learning/Statistical-Learning-1-Overview-of-Supervised-Learning">[Statistical Learning] 1. Overview of Supervised Learning</a></li>
    <li><a href="/non-parametric/nonparametric-1-Brief-Introduction-to-Nonparametric-function-estimation">[Nonparametric] 1. Brief Introduction to Nonparametric function estimation</a></li>
    <li><a href="/adaptive%20sequential%20decision%20making/Bandit-2-Explore-Then-Commit-algorithm">[Bandit] 2. Explore-Then-Commit algorithm</a></li>
    <li><a href="/non-parametric/Nonparametric-2-Univariate-Kernel-Density-Estimation">[Nonparametric] 2. Univariate Kernel Density Estimation</a></li>
  </ul>
</div>