<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2021/02/16/LDA-4-Gibbs-Sampling">Understanding Latent Dirichlet Allocation (4) Gibbs Sampling</a></li>
    <li><a href="/2021/02/15/LDA-3-Variational-EM">Understanding Latent Dirichlet Allocation (3) Variational EM</a></li>
    <li><a href="/2021/02/14/LDA-1-background-topic-modelling">Understanding Latent Dirichlet Allocation (1) Backgrounds</a></li>
    <li><a href="/2021/07/02/2-1-Empirical-Process">2.1. Empirical Process</a></li>
    <li><a href="/2021/07/21/Feynmanns-technique-for-Gamma-like-integrals">Feynmann's technique for Gamma-like integrals</a></li>
  </ul>
</div>