<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/nonparametric/kernel/Nonparametric-2-Univariate-Kernel-Density-Estimation">2. Univariate Kernel Density Estimation</a></li>
    <li><a href="/nonparametric/kernel/Nonparametric-3-Bandwidth-Selection">3. Bandwidth Selection</a></li>
    <li><a href="/nonparametric/spline/kernel/nonparametric-1-Brief-Introduction-to-Nonparametric-function-estimation">1. Brief Introduction to Nonparametric function estimation</a></li>
    <li><a href="/machine%20learning/natural%20language%20processing/understanding-skip-gram">Understanding Skip Gram</a></li>
    <li><a href="/adaptive%20sequential%20decision%20making/bandit/Bandit-2-Explore-Then-Commit-algorithm">2. Explore-Then-Commit algorithm</a></li>
  </ul>
</div>