<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/empirical%20process/asymptotics/empirical%20processes%20in%20m-estimation/1-2-Maximum-likelihood-problem">1.2. Mean estimation in the binary choice problem</a></li>
    <li><a href="/bayesian/machine%20learning/natural%20language%20processing/LDA-2-The-Model">Understanding Latent Dirichlet Allocation (2) The Model</a></li>
    <li><a href="/nonparametric/kernel/Nonparametric-4-Multivariate-Kernel-Density-Estimation">4. Multivariate Kernel Density Estimation</a></li>
    <li><a href="/bayesian/machine%20learning/natural%20language%20processing/LDA-4-Gibbs-Sampling">Understanding Latent Dirichlet Allocation (4) Gibbs Sampling</a></li>
    <li><a href="/adaptive%20sequential%20decision%20making/bandit/Bandit-2-Explore-Then-Commit-algorithm">2. Explore-Then-Commit algorithm</a></li>
  </ul>
</div>