<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/machine%20learning/natural%20language%20processing/Understanding-Neural-Probabilistic-Language-Model">Understanding Neural Probabilistic Language Model</a></li>
    <li><a href="/machine%20learning/natural%20language%20processing/understanding-skip-gram">Understanding Skip Gram</a></li>
    <li><a href="/natural%20language%20processing/LDA-1-background-topic-modelling">Understanding Latent Dirichlet Allocation (1) Backgrounds</a></li>
    <li><a href="/bayesian/machine%20learning/natural%20language%20processing/LDA-2-The-Model">Understanding Latent Dirichlet Allocation (2) The Model</a></li>
    <li><a href="/bayesian/machine%20learning/natural%20language%20processing/LDA-3-Variational-EM">Understanding Latent Dirichlet Allocation (3) Variational EM</a></li>
  </ul>
</div>