<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2021/03/13/Nonparametric-2-Univariate-Kernel-Density-Estimation">2. Univariate Kernel Density Estimation</a></li>
    <li><a href="/2021/03/19/Nonparametric-4-Multivariate-Kernel-Density-Estimation">4. Multivariate Kernel Density Estimation</a></li>
    <li><a href="/2020/12/23 17:35:00 +0900/2020-12-23-PTE 3.html">3.4. Central limit theorem</a></li>
    <li><a href="/2021/03/05/Bandit-2-Explore-Then-Commit-algorithm">2. Explore-Then-Commit algorithm</a></li>
    <li><a href="/2020/12/22 23:55:00 +0900/2020-12-22-PTE 3.html">3.3. Characteristic functions</a></li>
  </ul>
</div>