<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/empirical%20process/asymptotics/empirical%20processes%20in%20m-estimation/1-1-Motivating-example">1.1. Binary Choice Problem</a></li>
    <li><a href="/empirical%20process/asymptotics/empirical%20processes%20in%20m-estimation/1-3-Maximum-likelihood-problem">1.3. Consistency of MLE</a></li>
    <li><a href="/empirical%20process/asymptotics/empirical%20processes%20in%20m-estimation/2-1-Empirical-Process">2.1. Empirical Process</a></li>
    <li><a href="/nonparametric/kernel/Nonparametric-4-Multivariate-Kernel-Density-Estimation">4. Multivariate Kernel Density Estimation</a></li>
    <li><a href="/nonparametric/kernel/Nonparametric-2-Univariate-Kernel-Density-Estimation">2. Univariate Kernel Density Estimation</a></li>
  </ul>
</div>