<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/machine%20learning/natural%20language%20processing/understanding-skip-gram">Understanding Skip Gram</a></li>
    <li><a href="/machine%20learning/natural%20language%20processing/Understanding-Neural-Probabilistic-Language-Model">Understanding Neural Probabilistic Language Model</a></li>
    <li><a href="/thoughts/Another-semester-goes-by">Another semester goes by</a></li>
    <li><a href="/non-parametric/nonparametric-1-Brief-Introduction-to-Nonparametric-function-estimation">[Nonparametric] 1. Brief Introduction to Nonparametric function estimation</a></li>
    <li><a href="/machine%20learning/natural%20language%20processing/Understanding-ELMo">Understanding ELMo</a></li>
  </ul>
</div>