<div id="related" class="clearfix">
  
   <h3>Related Posts</h3>
  <ul>
    <li><a href="/machine%20learning/%EC%9D%B8%EA%B3%B5%EC%8B%A0%EA%B2%BD%EB%A7%9D-%EC%9D%B4%ED%95%B4%ED%95%98%EA%B8%B0-1-%EC%84%A0%ED%98%95-%EB%B6%84%EB%A5%98%EA%B8%B0">인공신경망 이해하기 (1) 선형 분류기</a></li>
    <li><a href="/information%20theory/a-metric-derived-from-KL-divergence">"A metric derived from KL divergence"</a></li>
    <li><a href="/linear%20model/limitation-of-R-sq">"Limitation of $R^2$"</a></li>
    <li><a href="/probability/SLLN">"Strong law of large numbers"</a></li>
    <li><a href="/2020/05/29 22:41:00 +0900/.html">"Centering preserves regression coefficients"</a></li>
  </ul>
</div>