<div id="related" class="clearfix">
  
   <h3>You might also like..</h3>
  <ul>
    <li><a href="/2020/05/29 22:41:00 +0900/.html">"Centering preserves regression coefficients"</a></li>
    <li><a href="/2020/05/29 22:41:00 +0900/.html">"Degrees of freedom in standardized regression"</a></li>
    <li><a href="/probability/PTE-4.6.1-Uniform-integrability-and-convergence-in-L1">None</a></li>
    <li><a href="/thoughts/implant-consciousness">의식을 이식하기</a></li>
    <li><a href="/applied/2017-south-korean-presidential-election">2017 대선 후보 지지층 군집분석</a></li>
  </ul>
</div>