<div id="related" class="clearfix">
  
   <h3>You might also like...</h3>
  <ul>
    <li><a href="/2020/05/29 22:41:00 +0900/.html">"Centering preserves regression coefficients"</a></li>
    <li><a href="/probability/PTE-1.4-Lebesgue-integral">(PTE) 1.4. The Lebesgue integral</a></li>
    <li><a href="/probability/PTE-1.5-Convergence-theorems-and-inequalities">(PTE) 1.5. Convergence theorems and elementary inequalities</a></li>
    <li><a href="/machine%20learning/natural%20language%20processing/Understanding-Neural-Probabilistic-Language-Model">Understanding Neural Probabilistic Language Model</a></li>
    <li><a href="/adaptive%20sequential%20decision%20making/Bandit-1-Introduction-to-Adaptive-Multi-armed-Bandit">[Bandit] 1. Introduction to Multi-armed Bandit</a></li>
  </ul>
</div>