---
layout: default
---

<div>
  {% assign category = page.categories | default: page.title %}
  <h2>{{ category | uppercase }}</h2>

    <ul class="posts-list">
      <div class="category-name">
      </div>
      {% for post in site.categories[category] %}
          <div class="post_title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
            <span class="date">{{ post.date | date: "%-d %b, %Y" }}</span>
          </div>
      {% endfor %}

    </ul>

</div>
