<!DOCTYPE html>
<html>
  {% include head.html %}

  <meta name="twitter:title" content={{site.title}} />
  <meta name="twitter:description" content={{page.title}} />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@naturale0" />
  <meta name="twitter:creator" content="@naturale0" />

  <body>
    <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" src="http://cdn.mathjax.org/math...">
  </script>
    <div class="page-content">
      <div class="container">
        <div class="three columns">
          {% include header.html %}
        </div>

        <div class="nine columns" style="z-index:100;">
          <div class="wrapper">
            {{ content }}
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
